<% include partials/header.ejs %>

<h1>This is the secret page</h1>
<p>You found me!</p>
<img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/marmots-nature-photos-1537973825.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="picture">
<img src="../images/photo.jpg" alt="photo">

<% include partials/footer.ejs %>